# =========================
# Terraform
# =========================
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
terraform.tfplan
.terraform.lock.hcl

# =========================
# Azure credentials
# =========================
.azure/
*.pem
*.key
*.pfx
*.cer

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# SSH
# =========================
id_rsa
id_rsa.pub
