version: "3.8"

networks:
  public_net:
  private_net:

services:
  bastion:
    build: bastion/
    container_name: bastion
    networks:
      - public_net
      - private_net
    ports:
      - "2222:22"

  app:
    build: app/
    networks:
      - private_net
    deploy:
      replicas: 2

  nlb:
    image: nginx
    container_name: nlb
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - public_net
      - private_net
    ports:
      - "80:80"
